<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Speakers &#8211; Flowz</title>
	<atom:link href="https://vigilant-borg-a005c7.netlify.com/speakers/feed/" rel="self" type="application/rss+xml" />
	<link>https://vigilant-borg-a005c7.netlify.com/</link>
	<description>Fractional and flat-rate services</description>
	<lastBuildDate>Wed, 01 May 2019 10:05:03 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	

<image>
	<url>https://vigilant-borg-a005c7.netlify.com/wp-content/uploads/2018/01/favi.png</url>
	<title>Speakers &#8211; Flowz</title>
	<link>https://vigilant-borg-a005c7.netlify.com/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>John Doe</title>
		<link>https://vigilant-borg-a005c7.netlify.com/speakers/john-doe/</link>
		<comments>https://vigilant-borg-a005c7.netlify.com/speakers/john-doe/#respond</comments>
		<pubDate>Thu, 09 Feb 2017 14:32:53 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
		
		<guid isPermaLink="false">http://sw-themes.com/porto_dummy/speakers/bob-doe-copy-copy-copy-copy/</guid>
		<description><![CDATA[]]></description>
		<wfw:commentRss>https://vigilant-borg-a005c7.netlify.com/speakers/john-doe/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Richard Doe</title>
		<link>https://vigilant-borg-a005c7.netlify.com/speakers/richard-doe/</link>
		<comments>https://vigilant-borg-a005c7.netlify.com/speakers/richard-doe/#respond</comments>
		<pubDate>Thu, 09 Feb 2017 14:32:47 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
		
		<guid isPermaLink="false">http://sw-themes.com/porto_dummy/speakers/bob-doe-copy-copy-copy/</guid>
		<description><![CDATA[]]></description>
		<wfw:commentRss>https://vigilant-borg-a005c7.netlify.com/speakers/richard-doe/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Jessica Doe</title>
		<link>https://vigilant-borg-a005c7.netlify.com/speakers/jessica-doe/</link>
		<comments>https://vigilant-borg-a005c7.netlify.com/speakers/jessica-doe/#respond</comments>
		<pubDate>Thu, 09 Feb 2017 19:32:39 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
		
		<guid isPermaLink="false">http://sw-themes.com/porto_dummy/speakers/bob-doe-copy-copy/</guid>
		<description><![CDATA[]]></description>
		<wfw:commentRss>https://vigilant-borg-a005c7.netlify.com/speakers/jessica-doe/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Mark Doe</title>
		<link>https://vigilant-borg-a005c7.netlify.com/speakers/mark-doe/</link>
		<comments>https://vigilant-borg-a005c7.netlify.com/speakers/mark-doe/#respond</comments>
		<pubDate>Thu, 09 Feb 2017 19:29:36 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
		
		<guid isPermaLink="false">http://sw-themes.com/porto_dummy/speakers/bob-doe-copy/</guid>
		<description><![CDATA[]]></description>
		<wfw:commentRss>https://vigilant-borg-a005c7.netlify.com/speakers/mark-doe/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Bob Doe</title>
		<link>https://vigilant-borg-a005c7.netlify.com/speakers/bob-doe/</link>
		<comments>https://vigilant-borg-a005c7.netlify.com/speakers/bob-doe/#respond</comments>
		<pubDate>Thu, 09 Feb 2017 19:24:50 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
		
		<guid isPermaLink="false">http://sw-themes.com/porto_dummy/speakers/john-doe-copy-copy-copy/</guid>
		<description><![CDATA[]]></description>
		<wfw:commentRss>https://vigilant-borg-a005c7.netlify.com/speakers/bob-doe/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Greg Doe</title>
		<link>https://vigilant-borg-a005c7.netlify.com/speakers/greg-doe/</link>
		<comments>https://vigilant-borg-a005c7.netlify.com/speakers/greg-doe/#respond</comments>
		<pubDate>Thu, 09 Feb 2017 19:24:44 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
		
		<guid isPermaLink="false">http://sw-themes.com/porto_dummy/speakers/john-doe-copy-copy/</guid>
		<description><![CDATA[]]></description>
		<wfw:commentRss>https://vigilant-borg-a005c7.netlify.com/speakers/greg-doe/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Jeremy Doe</title>
		<link>https://vigilant-borg-a005c7.netlify.com/speakers/jeremy-doe/</link>
		<comments>https://vigilant-borg-a005c7.netlify.com/speakers/jeremy-doe/#respond</comments>
		<pubDate>Thu, 09 Feb 2017 19:23:41 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
		
		<guid isPermaLink="false">http://sw-themes.com/porto_dummy/speakers/john-doe-copy/</guid>
		<description><![CDATA[]]></description>
		<wfw:commentRss>https://vigilant-borg-a005c7.netlify.com/speakers/jeremy-doe/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Josh Doe</title>
		<link>https://vigilant-borg-a005c7.netlify.com/speakers/josh-doe/</link>
		<comments>https://vigilant-borg-a005c7.netlify.com/speakers/josh-doe/#respond</comments>
		<pubDate>Thu, 09 Feb 2017 16:08:19 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
		
		<guid isPermaLink="false">http://sw-themes.com/porto_dummy/?post_type=member&#038;p=17</guid>
		<description><![CDATA[]]></description>
		<wfw:commentRss>https://vigilant-borg-a005c7.netlify.com/speakers/josh-doe/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
