.butn_rowr .vc_column-inner {text-align: center;}
.page-id-1620 .no-breadcrumbs .main-content {padding-top: 0px;}
.slidr_row .wpb_revslider_element {margin-bottom: 0px;}
.work_tabr ul.vc_tta-tabs-list a {border-top: 1px solid #e0e0e0 !important;border-left: 1px solid #e0e0e0 !important;border-right: 1px solid #e0e0e0 !important;padding: 25px 30px !important;color: #00c8ff !important;font-weight: 500 !important;font-family: montserrat;font-size: 18px;}
.work_tabr {margin-top: -74px;}
.pg_tab .vc_btn3-container.tab_butn.vc_btn3-center {width: 13%;float: left;}
.pg_tab .vc_btn3-container.tab_butn.vc_btn3-center {width: 12%;float: left;margin-left: 101px;}
.tab_butn a {border-top: 1px solid #e0e0e0 !important;border-left: 1px solid #e0e0e0 !important;border-right: 1px solid #e0e0e0 !important;padding: 20px 0px !important;color: #00c8ff !important;font-weight: 500 !important;font-family: montserrat;font-size: 18px !important;width: 190px;}
.pg_tab {margin-top: -67px;}
.tab_butns a {color: #222;font-weight: 600;font-family: montserrat;font-size: 13px !important;width: 100px;}
.tab_butns {width: 8%;float: left;margin-left: 101px;}
.tab_butns a {color: #222;font-weight: 600;font-family: montserrat;font-size: 13px !important;width: 100px;border: none !important;}
.work_content h2 {font-size: 40px;}
.work_content {font-size: 14px;color: #333;line-height: 1.6;font-weight: 400;font-family: Montserrat;}
.work_content2 {font-size: 16px;color: #333;line-height: 1.6;font-weight: 400;font-family: Montserrat;}
.pg_tab2 .col-md-8 {border-bottom: solid 1px #ccc;margin-bottom: 100px;}
.main-content {padding-bottom: 0px;}
.tab_butns a {color: #000 !important;}
.pg_tab2.element-is-sticky {background-color: #003f6f;width: 1600px !important;left: 0px !important;top: 84px !important;height: 50px !important;border: none !important;}
.tab_butns a {background-color: #003f6f !important;color: #fff !important;}
.pg_tab2.element-is-sticky .col-md-8 {border: none !important;}