#toplevel_page_porto .dashicons-porto-logo {background: url("images/porto_logo.png") no-repeat;background-position: 0 0;}
#toplevel_page_porto:hover .dashicons-porto-logo {background-position: 0 -68px;}
#toplevel_page_porto.wp-has-current-submenu .dashicons-porto-logo {background-position: 0 -34px;}
#wpadminbar #wp-toolbar #wp-admin-bar-porto .ab-item .ab-icon {width: 20px;height: 20px;background: url("images/porto_logo.png") -8px 0 no-repeat !important;}
#wpadminbar #wp-toolbar #wp-admin-bar-porto:hover .ab-item .ab-icon {background-position: -8px -68px !important;}