﻿@-moz-keyframes spin {-o-transform: rotate(0deg);-webkit-transform: rotate(0deg);transform: rotate(0deg);}
100% {-moz-transform: rotate(359deg);-o-transform: rotate(359deg);-webkit-transform: rotate(359deg);transform: rotate(359deg);}
@-webkit-keyframes spin {-o-transform: rotate(0deg);-webkit-transform: rotate(0deg);transform: rotate(0deg);}
100% {-moz-transform: rotate(359deg);-o-transform: rotate(359deg);-webkit-transform: rotate(359deg);transform: rotate(359deg);}
@-o-keyframes spin {-o-transform: rotate(0deg);-webkit-transform: rotate(0deg);transform: rotate(0deg);}
100% {-moz-transform: rotate(359deg);-o-transform: rotate(359deg);-webkit-transform: rotate(359deg);transform: rotate(359deg);}
@-ms-keyframes spin {-o-transform: rotate(0deg);-webkit-transform: rotate(0deg);transform: rotate(0deg);}
100% {-moz-transform: rotate(359deg);-o-transform: rotate(359deg);-webkit-transform: rotate(359deg);transform: rotate(359deg);}
@keyframes spin {-o-transform: rotate(0deg);-webkit-transform: rotate(0deg);transform: rotate(0deg);}
100% {-moz-transform: rotate(359deg);-o-transform: rotate(359deg);-webkit-transform: rotate(359deg);transform: rotate(359deg);}
div.bbp-breadcrumb {display: none;}
#bbpress-forums #bbp-search-form #bbp_search {font-size: 14px;padding: 6px 8px;}
#bbpress-forums div.bbp-search-form {margin-bottom: 15px;}
.bbp-pagination-links a, .bbp-pagination-links span.current {border: 1px solid;padding: 0 .5em;line-height: 2.1em;min-width: 2.2em;height: 2.2em;text-align: center;vertical-align: top;display: block;float: left;margin: 2px 0 2px 4px;text-decoration: none;}
.bbp-pagination-links a:hover, .bbp-pagination-links span.current:hover {opacity: 1;}
.bbp-pagination-links span.dots {display: block;float: left;padding: 1px 4px;padding: 0;margin-left: 5px;border-width: 0;min-width: 0;}
.bbp-pagination-links a:hover, .bbp-pagination-links a:focus, .bbp-pagination-links span.current {color: #fff;opacity: 1;}
.bbp-pagination-links .prev, .bbp-pagination-links .next {text-indent: -9999px;width: 2.2em;overflow: hidden;position: relative;}
.bbp-pagination-links .prev:before, .bbp-pagination-links .next:before {font-family: "FontAwesome";position: absolute;top: 1px;left: 0;right: 0;text-indent: 0;}
.bbp-pagination-links .prev:before {content: "";}
.bbp-pagination-links .next:before {content: "";}
.bbp-topic-pagination a {border: 1px solid;text-align: center;text-decoration: none;}
.bbp-topic-pagination a:hover, .bbp-topic-pagination a:focus {color: #fff;}
#bbpress-forums fieldset.bbp-form legend {width: auto;}
div.bbp-submit-wrapper {margin-bottom: 15px;}
#bbpress-forums #bbp-your-profile fieldset input, #bbpress-forums #bbp-your-profile fieldset textarea {outline: none;text-align: left;}
#bbpress-forums #bbp-your-profile fieldset input:focus, #bbpress-forums #bbp-your-profile fieldset textarea:focus {box-shadow: none;}
.bbp-logged-in h4 {font-weight: 600;}
#bbpress-forums p.bbp-topic-meta img.avatar, #bbpress-forums ul.bbp-reply-revision-log img.avatar, #bbpress-forums ul.bbp-topic-revision-log img.avatar, #bbpress-forums div.bbp-template-notice img.avatar {margin-bottom: 2px;border-width: 0;}
.widget_display_topics .bbp-forum-title, .widget_display_replies .bbp-forum-title {display: block;}
.widget_display_topics img.avatar, .widget_display_replies img.avatar {float: none;margin-bottom: 2px;border-width: 0;}
.widget_display_stats dl dt {float: left;margin-bottom: 10px;text-align: left;width: 90%;}
.widget_display_stats dl dd {float: right;margin-bottom: 10px;text-align: right;width: 10%;}
#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {opacity: 1;}
#buddypress {margin-bottom: 30px;}
#buddypress:before, #buddypress:after {content: " ";display: table;}
#buddypress:after {clear: both;}
#buddypress div.pagination .pagination-links {margin-right: 0;}
#buddypress div.pagination .pagination-links a, #buddypress div.pagination .pagination-links span.current {border: 1px solid;padding: 0 .5em;line-height: 2.1em;min-width: 2.2em;height: 2.2em;text-align: center;vertical-align: top;display: block;float: left;margin: 2px 0 2px 4px;text-decoration: none;}
#buddypress div.pagination .pagination-links span.dots {display: block;float: left;padding: 1px 4px;padding: 0;margin-left: 5px;border-width: 0;min-width: 0;}
#buddypress div.pagination .pagination-links a:hover, #buddypress div.pagination .pagination-links a:focus, #buddypress div.pagination .pagination-links span.current {font-weight: 400;color: #fff;}
#buddypress div.pagination .pagination-links .prev, #buddypress div.pagination .pagination-links .next {text-indent: -9999px;width: 2.2em;overflow: hidden;position: relative;}
#buddypress div.pagination .pagination-links .prev:before, #buddypress div.pagination .pagination-links .next:before {font-family: "FontAwesome";position: absolute;top: 1px;left: 0;right: 0;text-indent: 0;}
#buddypress div.pagination .pagination-links .prev:before {content: "";}
#buddypress div.pagination .pagination-links .next:before {content: "";}
#buddypress form#whats-new-form #whats-new-content {margin-left: 50px;}
#buddypress form#whats-new-form p.activity-greeting {margin-left: 70px;}
#buddypress form#whats-new-form textarea {width: 100%;min-height: 30px;}
#buddypress .activity-list .activity-content .activity-header img.avatar {margin: 0 5px 2px 0 !important;}
#buddypress .activity-list li.load-more a, #buddypress .activity-list li.load-newest a {text-decoration: none;}
#buddypress div.dir-search {margin: 0 0 15px 0;}
#buddypress div.dir-search input[type=text], #buddypress li.groups-members-search input[type=text] {font-size: 14px;padding: 6px 8px;line-height: 1.42857;}
.bp-avatar-nav li.current a {font-weight: normal;}
#buddypress .standard-form input[type=text] {width: 100%;}
#buddypress .standard-form label, #buddypress .standard-form span.label {padding-left: 0;padding-right: 0;}
#buddypress .standard-form label input, #buddypress .standard-form span.label input {position: static;margin-left: 0;margin-right: 5px;}
#buddypress form [disabled="disabled"] {opacity: .8;}
#buddypress .standard-form#sidebar-login-form input[type=text], #buddypress .standard-form#sidebar-login-form input[type=password], #buddypress .standard-form#sidebar-login-form input[type=email] {padding: 6px 8px;width: 100%;}
#buddypress .standard-form #basic-details-section input[type=password], #buddypress .standard-form #basic-details-section input[type=email], #buddypress .standard-form #blog-details-section input#signup_blog_url {width: 100%;}
#buddypress .standard-form#signup_form input[type=text], #buddypress .standard-form#signup_form textarea, #buddypress .form-allowed-tags, #buddypress #commentform input[type=text], #buddypress #commentform textarea {width: 100%;}
#buddypress .standard-form textarea {width: 100%;}
#buddypress .standard-form#send-reply textarea {width: 100%;}
#buddypress .standard-form div.submit input {margin-right: 0;}
#buddypress button, #buddypress a.button, #buddypress input[type=submit], #buddypress input[type=button], #buddypress input[type=reset], #buddypress ul.button-nav li a, #buddypress div.generic-button a, #buddypress .comment-reply-link, a.bp-title-button {color: #fff;font-size: 14px;padding: 6px 12px;}
#buddypress button:hover, #buddypress a.button:hover, #buddypress a.button:focus, #buddypress input[type=submit]:hover, #buddypress input[type=button]:hover, #buddypress input[type=reset]:hover, #buddypress ul.button-nav li a:hover, #buddypress ul.button-nav li.current a, #buddypress div.generic-button a:hover, #buddypress .comment-reply-link:hover {color: #fff;}
#buddypress a.loading:hover, #buddypress input.loading:hover {color: #fff;}
#buddypress input[type="submit"].pending, #buddypress input[type="button"].pending, #buddypress input[type="reset"].pending, #buddypress input[type="submit"].disabled, #buddypress input[type="button"].disabled, #buddypress input[type="reset"].disabled, #buddypress input[type="submit"][disabled=disabled], #buddypress button.pending, #buddypress button.disabled, #buddypress div.pending a, #buddypress a.disabled {color: #fff;}
#buddypress table.profile-fields {margin-top: 20px;}
#buddypress table.notifications tr td.label, #buddypress table.notifications-settings tr td.label, #buddypress table.profile-fields tr td.label, #buddypress table.wp-profile-fields tr td.label, #buddypress table.messages-notices tr td.label, #buddypress table.forum tr td.label {display: table-cell;font-size: 1em;font-weight: 600;text-align: right;}
#buddypress div.item-list-tabs ul li a span {border-radius: 50%;padding: 2px 6px;}
#buddypress div.item-list-tabs ul li.selected a, #buddypress div.item-list-tabs ul li.current a {opacity: 1;font-weight: 400;}
#buddypress div.item-list-tabs#subnav {margin: 10px 0 20px;}
#buddypress div.profile h4 {margin-bottom: 15px;}
#buddypress #profile-edit-form ul.button-nav {padding-left: 0;padding-right: 0;}
#buddypress .field-visibility-settings, #buddypress .field-visibility-settings-toggle, #buddypress .field-visibility-settings-notoggle {margin-top: 5px;}
#buddypress .field-visibility-settings .radio {padding-left: 0;padding-right: 0;}
@media only screen and (max-width: 767px) {#buddypress .standard-form #basic-details-section, #buddypress .standard-form #blog-details-section, #buddypress .standard-form #profile-details-section {float: none;width: 100%;margin-bottom: 20px;}}
@media only screen and (max-width: 575px) {#buddypress div.dir-search input[type="text"] {margin-bottom: 0;width: auto;}}