<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>testimonial &#8211; Flowz</title>
	<atom:link href="https://vigilant-borg-a005c7.netlify.com/testimonial-category/testimonial/feed/" rel="self" type="application/rss+xml" />
	<link>https://vigilant-borg-a005c7.netlify.com/</link>
	<description>Fractional and flat-rate services</description>
	<lastBuildDate>Wed, 01 May 2019 10:05:03 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	

<image>
	<url>https://vigilant-borg-a005c7.netlify.com/wp-content/uploads/2018/01/favi.png</url>
	<title>testimonial &#8211; Flowz</title>
	<link>https://vigilant-borg-a005c7.netlify.com/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Great</title>
		<link>https://vigilant-borg-a005c7.netlify.com/testimonial/testimonial2/</link>
		<pubDate>Mon, 22 Jan 2018 12:41:36 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
		
		<guid isPermaLink="false">http://flowz.com/?post_type=wpm-testimonial&#038;p=609</guid>
		<description><![CDATA[FLOWZ is Great]]></description>
		</item>
		<item>
		<title>Awesome</title>
		<link>https://vigilant-borg-a005c7.netlify.com/testimonial/testimonial1/</link>
		<pubDate>Mon, 22 Jan 2018 12:40:34 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
		
		<guid isPermaLink="false">http://flowz.com/?post_type=wpm-testimonial&#038;p=608</guid>
		<description><![CDATA[FLOWZ Is Awesome]]></description>
		</item>
	</channel>
</rss>
