<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>graphic designing &#8211; Flowz</title>
	<atom:link href="https://vigilant-borg-a005c7.netlify.com/tag/graphic-designing/feed/" rel="self" type="application/rss+xml" />
	<link>https://vigilant-borg-a005c7.netlify.com/</link>
	<description>Fractional and flat-rate services</description>
	<lastBuildDate>Wed, 01 May 2019 10:05:03 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	

<image>
	<url>https://vigilant-borg-a005c7.netlify.com/wp-content/uploads/2018/01/favi.png</url>
	<title>graphic designing &#8211; Flowz</title>
	<link>https://vigilant-borg-a005c7.netlify.com/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Top 6 Design Rules You Should Never Break</title>
		<link>https://vigilant-borg-a005c7.netlify.com/top-6-design-rules-you-should-never-break/</link>
		<comments>https://vigilant-borg-a005c7.netlify.com/top-6-design-rules-you-should-never-break/#respond</comments>
		<pubDate>Fri, 26 Apr 2019 10:23:19 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
				<category><![CDATA[Graphic Design]]></category>
		<category><![CDATA[Graphic Design Service]]></category>
		<category><![CDATA[graphic designing]]></category>

		<guid isPermaLink="false">https://vigilant-borg-a005c7.netlify.com/?p=2589</guid>
		<description><![CDATA[Graphic design service is a creative field. So, we thought there can be no better way to get today&#8217;s inspiration from anyone but the legendary artist himself – Pablo Picasso. He once said, &#8220;Learn the rules like a pro so that you can break them like an artist&#8221;. So here we are with the six golden rules of graphic design that you should know before your craft your next masterpiece. A lot of these rules [...]]]></description>
		<wfw:commentRss>https://vigilant-borg-a005c7.netlify.com/top-6-design-rules-you-should-never-break/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
