<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>graphic design service &#8211; Flowz</title>
	<atom:link href="https://vigilant-borg-a005c7.netlify.com/tag/graphic-design-service/feed/" rel="self" type="application/rss+xml" />
	<link>https://vigilant-borg-a005c7.netlify.com/</link>
	<description>Fractional and flat-rate services</description>
	<lastBuildDate>Wed, 01 May 2019 10:05:03 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	

<image>
	<url>https://vigilant-borg-a005c7.netlify.com/wp-content/uploads/2018/01/favi.png</url>
	<title>graphic design service &#8211; Flowz</title>
	<link>https://vigilant-borg-a005c7.netlify.com/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Top Ten Tips For Young Graphic Designers</title>
		<link>https://vigilant-borg-a005c7.netlify.com/top-ten-tips-for-young-graphic-designers/</link>
		<comments>https://vigilant-borg-a005c7.netlify.com/top-ten-tips-for-young-graphic-designers/#respond</comments>
		<pubDate>Mon, 22 Apr 2019 06:28:46 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
				<category><![CDATA[Graphic Design]]></category>
		<category><![CDATA[graphic design]]></category>
		<category><![CDATA[graphic design service]]></category>

		<guid isPermaLink="false">https://vigilant-borg-a005c7.netlify.com/?p=2581</guid>
		<description><![CDATA[Graphic designing can be a very appealing career choice for young graduates. And why not? As per the Bureau of Labor Statistics, US Department of Labor, the median pay of a graphic designer is $48,700 per year. And all you need is a graduate degree to kick-start your career as a graphic designer.  But that’s just the beginning. To become a successful graphic designer you need both, aptitude and skills, that are superior in every [...]]]></description>
		<wfw:commentRss>https://vigilant-borg-a005c7.netlify.com/top-ten-tips-for-young-graphic-designers/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Top 10 Graphic Design Trends 2019</title>
		<link>https://vigilant-borg-a005c7.netlify.com/top-10-graphic-design-trends-2019/</link>
		<comments>https://vigilant-borg-a005c7.netlify.com/top-10-graphic-design-trends-2019/#respond</comments>
		<pubDate>Thu, 18 Apr 2019 05:32:41 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
				<category><![CDATA[Graphic Design]]></category>
		<category><![CDATA[graphic design]]></category>
		<category><![CDATA[graphic design service]]></category>
		<category><![CDATA[graphic design trends]]></category>

		<guid isPermaLink="false">https://vigilant-borg-a005c7.netlify.com/?p=2571</guid>
		<description><![CDATA[Everyone is following a trend. As they say, “being trendy seems like the next trend”! This is true especially in industries like fashion and design. We have to agree that trends keep us relevant, trends keep us young, trends help us to connect with others and they speak a lot about a particular person or a product. How do trends develop? It takes a while for something to develop into a trend. A craze or a fad [...]]]></description>
		<wfw:commentRss>https://vigilant-borg-a005c7.netlify.com/top-10-graphic-design-trends-2019/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
