<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>new &#8211; Flowz</title>
	<atom:link href="https://vigilant-borg-a005c7.netlify.com/team_group/new/feed/" rel="self" type="application/rss+xml" />
	<link>https://vigilant-borg-a005c7.netlify.com/</link>
	<description>Fractional and flat-rate services</description>
	<lastBuildDate>Wed, 01 May 2019 10:05:03 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	

<image>
	<url>https://vigilant-borg-a005c7.netlify.com/wp-content/uploads/2018/01/favi.png</url>
	<title>new &#8211; Flowz</title>
	<link>https://vigilant-borg-a005c7.netlify.com/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Richard Price II</title>
		<link>https://vigilant-borg-a005c7.netlify.com/team_member/richard-price/</link>
		<pubDate>Sun, 29 Jul 2018 22:06:56 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
		
		<guid isPermaLink="false">https://vigilant-borg-a005c7.netlify.com/?post_type=team_member&#038;p=2395</guid>
		<description><![CDATA[]]></description>
		</item>
		<item>
		<title>Mike Castiglione</title>
		<link>https://vigilant-borg-a005c7.netlify.com/team_member/mike-castiglione/</link>
		<pubDate>Mon, 07 May 2018 13:51:52 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
		
		<guid isPermaLink="false">https://vigilant-borg-a005c7.netlify.com/?post_type=team_member&#038;p=2220</guid>
		<description><![CDATA[]]></description>
		</item>
		<item>
		<title>Tim Lawson</title>
		<link>https://vigilant-borg-a005c7.netlify.com/team_member/tim-lawson/</link>
		<pubDate>Sat, 05 May 2018 18:45:24 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
		
		<guid isPermaLink="false">https://vigilant-borg-a005c7.netlify.com/?post_type=team_member&#038;p=2133</guid>
		<description><![CDATA[]]></description>
		</item>
		<item>
		<title>Sukhi Singh</title>
		<link>https://vigilant-borg-a005c7.netlify.com/team_member/sukhi-singh/</link>
		<pubDate>Sat, 05 May 2018 18:42:18 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
		
		<guid isPermaLink="false">https://vigilant-borg-a005c7.netlify.com/?post_type=team_member&#038;p=2131</guid>
		<description><![CDATA[]]></description>
		</item>
		<item>
		<title>Dipesh Bhavsar</title>
		<link>https://vigilant-borg-a005c7.netlify.com/team_member/dipesh-bhavsar/</link>
		<pubDate>Wed, 24 Jan 2018 05:58:07 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
		
		<guid isPermaLink="false">http://flowz.com/?post_type=team_member&#038;p=642</guid>
		<description><![CDATA[]]></description>
		</item>
	</channel>
</rss>
