<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>main &#8211; Flowz</title>
	<atom:link href="https://vigilant-borg-a005c7.netlify.com/team_group/main/feed/" rel="self" type="application/rss+xml" />
	<link>https://vigilant-borg-a005c7.netlify.com/</link>
	<description>Fractional and flat-rate services</description>
	<lastBuildDate>Wed, 01 May 2019 10:05:03 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	

<image>
	<url>https://vigilant-borg-a005c7.netlify.com/wp-content/uploads/2018/01/favi.png</url>
	<title>main &#8211; Flowz</title>
	<link>https://vigilant-borg-a005c7.netlify.com/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Anand Sanghvi</title>
		<link>https://vigilant-borg-a005c7.netlify.com/team_member/anand-sanghvi/</link>
		<pubDate>Wed, 24 Jan 2018 06:11:22 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
		
		<guid isPermaLink="false">http://flowz.com/?post_type=team_member&#038;p=651</guid>
		<description><![CDATA[]]></description>
		</item>
		<item>
		<title>Caroline Dalal</title>
		<link>https://vigilant-borg-a005c7.netlify.com/team_member/caroline-dalal/</link>
		<pubDate>Wed, 24 Jan 2018 06:10:45 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
		
		<guid isPermaLink="false">http://flowz.com/?post_type=team_member&#038;p=649</guid>
		<description><![CDATA[]]></description>
		</item>
		<item>
		<title>Chris  Glowacki</title>
		<link>https://vigilant-borg-a005c7.netlify.com/team_member/chris-glowacki/</link>
		<pubDate>Wed, 24 Jan 2018 06:10:03 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
		
		<guid isPermaLink="false">http://flowz.com/?post_type=team_member&#038;p=647</guid>
		<description><![CDATA[]]></description>
		</item>
		<item>
		<title>Veena Rampersad</title>
		<link>https://vigilant-borg-a005c7.netlify.com/team_member/veena-rampersad/</link>
		<pubDate>Wed, 24 Jan 2018 05:56:33 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
		
		<guid isPermaLink="false">http://flowz.com/?post_type=team_member&#038;p=640</guid>
		<description><![CDATA[]]></description>
		</item>
	</channel>
</rss>
